<div id="aboutPage">
    <div id="aboutText">
    
        {% for post in site.categories.about %}
           <p>{{ post.content }}</p> 
        {% endfor %}
        <br>
        <a href=""><p>Email</p></a>
        <a href=""><p>Instagram</p></a>

        <p id="mobileCredit">This website was designed and built by <a href="https://bycalebstone.com/">Caleb Stone</a> and <a href="">Lia DiBitonto</a></p>
    </div>
    <div id="aboutImage">
        <img src="https://ucarecdn.com/847e4102-e98e-422a-9675-bfb86c2b79fe/-/preview/1000x778/" alt="">
        <p>This website was designed and built by <a href="https://bycalebstone.com/">Caleb Stone</a> and <a href="">Lia DiBitonto</a></p>
    </div>


</div>