<div id="drawingList">
    
     {% for post in site.categories.painting %}
    
        <div class="work">
            

            <div class="workImage">
                <img src="{{post.images}}" alt="">
            </div>

            <div class="workText">
        
                <div>
                    <div class="work_materials"><p>{{ post.materials }}</p></div>
                    <div class="work_dimensions"><p>{{ post.dimensions }}</p></div>
                </div>
                <div>
                    <div class="work_date"><p>{{ post.production_date }}</p></div>
                </div>

            </div>
        
            
                
        </div>

    {% endfor %}

</div>