{% assign categories = "drawing,painting,animation" | split: "," %}
{% assign all_posts = "" | split: "" %}
{% for category in categories %}
  {% if site.categories[category] %}
    {% assign all_posts = all_posts | concat: site.categories[category] %}
  {% endif %}
{% endfor %}
{% assign all_posts = all_posts | uniq %}

<div id="drawingList">
  {% for post in all_posts %}
    <div class="work">
      <div class="workImage">
        <img src="{{ post.images }}" alt="">
      </div>
      <div class="workText">
        <div>
          <div class="work_materials"><p>{{ post.materials }}</p></div>
          <div class="work_dimensions"><p>{{ post.dimensions }}</p></div>
        </div>
        <div>
          <div class="work_date"><p>{{ post.year }}</p></div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
