---
permalink: /about/
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dixie Law{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/iwy1fvg.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="/assets/js/script.js"></script>
     <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <div id="mainContent">
    {% include header.html %}
    {% include aboutPage.html %}
    </div>
    
    
  </body>
</html>